/* Sets the Basic Rule for Everything */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.logo {
    float: right;
    padding-right: 50px;
    padding-left: 50px;
}


/* Style the body */

body {
    background-color: grey;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.menu-area {
    float: right;
}

.menu-area li {
    display: inline-block;
}


/* Style the header */

header {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    max-height: auto;
}


/* Style H1 */

h1 {
    color: black;
}

.column-H2 {
    margin: auto;
    width: 50%;
    padding: 10px;
}


/* Style the main */

main {
    text-align: center;
    color: black;
}


/* Style p */

p {
    font-size: 14px;
    padding-top: 25px;
}

.column-store {
    float: left;
    width: 30%;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    height: 350px;
    margin: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    line-height: 1;
}


/* Style H2 */

h2 {
    color: black;
}

.giphy-embed {
    float: center;
    padding-top: 25px
}


/* Custom padding for items */

.custom-padding {
    padding-top: 25px;
}


/* modify forms on acc page */

.form-registration {
    padding: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
    width: 75%;
}

.form-registration input {
    background-color: white;
    padding: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
    width: auto;
    border: 1px solid black;
}

img {
    width: 80px;
    height: auto;
    float: left;
    padding-left: 5px;
    /*to preserve the aspect ratio of the image*/
}